.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

header {
    background-color: #f6f8fa;
}
h1 {
    background-image: url(../img/spr_intro_2x.png);
    background-position: 0 -96px;
    width: 78px;
    height: 29px;
    background-size: 231px auto;
    
}

.container {
    padding-top: 76px;
    background-color: #f6f8fa;

}
.slogan {
    background: url(../img/bg_sloganImg.jpg) no-repeat;
    flex: 0 0 auto;
    width: 540px;
    height: 695px;
    margin-right: 50px;
    background-size: 540px auto;

}

