header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    z-index: 1;
    transition: 0.4s;
    background-color: #f7323f;
}

.header-inner {
    width: 1024px;
    height: 64px;
    background: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  
    padding-right: 30px;
}
.logo-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
}

h1 {
    background-image: url(/img/h1_logo_pc_w.png);
    background-repeat: no-repeat;
    position: relative;
    top: 26px;
    left: 31px;
    width: 96px;
    height: 20px;
    margin: 0;
    background-size: 96px auto;
}

.user-nav {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.user-nav a {
    font-size: 18px;
    margin-left: 40px;
    color: #fff;
    font-weight: 350;
}

.search {
    position: absolute;
    border: none;
    text-indent: -9999px;
    top: 22px;
    right: 590px;
    z-index: 1;
    width: 30px;
    height: 30px;
    background: url(/img/ico_srch_2.png) 50% 50% no-repeat;
    background-size: 24px auto;
}

.main-title {
    height: 580px;
    background: #fff url(/img/mainspot_220531.png) 50% 100% no-repeat;
    background-size: 924px auto;
}

.main-link {
    overflow: hidden;
    padding: 32px 0 29px 41px;
    background: rgb(253,253,253);
    display: flex;
    justify-content: center; 
}

.main-link ul {
    display: flex;
}

.main-link li {
    width: 124px;
    display: block;
    height: 107px;
    font-size: 18px;
    color: rgba(0,0,0,0.56);
    text-align: center;
}

.main-link a {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    background-size: 216px auto;
}

.main-link li a p {
    padding-top: 80px;
    width: 123px;
    height: 25px;
    margin-left: -30px;
    
}
.motel {
    background: url(/img/ico_category_180801.png) -144px -72px no-repeat;
}

.hotel {
    background: url(/img/ico_category_180801.png) -144px 0 no-repeat;
}

.pension {
    background: url(/img/ico_category_180801.png) -72px -144px no-repeat;
}

.guesthouse {
    background: url(/img/ico_category_180801.png) 0 -72px no-repeat;
}

.camping {
    background: url(/img/ico_category_180801.png) 0 0 no-repeat;
}

.hanok {
    background: url(/img/ico_category_180801.png) -72px -72px no-repeat;
}

.around {
    background: url(/img/ico_category_180801.png) 0 -144px no-repeat;
}

.payback {
    background: url(/img/ico_category_180801.png) -72px 0 no-repeat;
}

.recommend {
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    padding: 78px 31px 0 31px;
}

h2 {
    font-size: 24px;
    margin-bottom: 35px;
    font-weight: bold;
}

.recommend li {
    overflow: hidden;
    float: left;
    position: relative;
    width: 473px;
    height: 162px;
    margin: 0 0 16px 0;
    padding: 0 24px 0 186px;
    border: 1px solid rgba(0,0,0,0.08);
}

.recommend-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 162px;
    height: 162px;
}

.recommend strong {
    display: block;
    padding: 38px 0 14px 0;
    font-size: 20px;
    line-height: 1;
    font-weight: normal;
    color: rgb(0,121,107);
}

.recommend-text {
    line-height: 30px;
    font-size: 18px;
    color: gray;
    opacity: 0.5;
}

.app-down {
    overflow: hidden;
    width: 962px;
    height: 320px;
    margin: 64px auto 78px auto;
    background: url(/img/bg_appdown.png)  no-repeat;
    background-size: cover;
    text-align: center;
}

.app-down p{
    margin: 103px 0 27px 0;
    font-size: 28px;
    color: rgba(0,0,0,0.87);
}

.app-down span {
    font-weight: bold;
}

.app-icon {
    display: flex;
    justify-content: center;
}
.app-icon img {
    width: 168px;
    height: auto;
    display: flex;
}

.app-icon a {
    margin: 0 4px;
}

.event-main {
    width: 962px;
    margin: 0 auto;
}

.event-banner img {
    width: 100%;
}

.advertisment {
    width: 962px;
    margin: 24px auto 0 auto;
}

.adver-list {
    display: flex;
    width: 473px;
    
}

.adver-list img {
    width: auto;
    height: 200px;
    border: 1px solid rgba(0,0,0,0.08);
}

.service {
    margin-right: 15px;
}

footer {
    overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 120px;
    padding: 63px 31px 40px 31px;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgb(245,245,245);
    font-size: 13px;
    line-height: 20px;
    color: rgba(0,0,0,0.38);
}

footer a {
    color: rgba(0,0,0,0.38);
}
.footer-container {
    width: 1024px;
    margin: 0 auto;
}

.legal {
    display: flex;
    margin-bottom: 5px;
}

footer b {
    display: inline-block;
    padding: 37px 0 24px 0;
    font-weight: bold;
}

.time {
    display: inline-block;
}

.company {
    display: block;
    padding-bottom: 7px;
}

address {
    line-height: 22px;
}

.warn {
    display: block;
    padding: 6px 0;
}

.copy {
    margin-top: 40px;
}

hr {
    opacity: 0.2;
    margin-top: 26px;
}

.sms-icon {
    padding: 20px 0 5px 0;
    display: flex;
}

.sms-icon figure {
    padding-right: 25px;
}

.sms-icon img {
    object-fit: contain;
    width: 30px;
    height: 30px;
}